<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>com.RudeAudio.FilterGuiDemo</string>
    <key>CFBundleName</key>
    <string>FilterGuiDemo</string>
    <key>CFBundlePackageType</key>
    <string>TDMw</string>
    <key>CFBundleSignature</key>
    <string>PTul</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>RudeAudio</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>RudeAudio: FilterGuiDemo</string>
        <key>description</key>
        <string>FilterGuiDemo</string>
        <key>factoryFunction</key>
        <string>FilterGuiDemoAUFactory</string>
        <key>manufacturer</key>
        <string>RUDE</string>
        <key>type</key>
        <string>aufx</string>
        <key>subtype</key>
        <string>RFil</string>
        <key>version</key>
        <integer>65536</integer>
      </dict>
    </array>
  </dict>
</plist>
